body {
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color-light: #ffffff;
  --text-color-light: #000000;
  --bg-color-dark: #121212;
  --text-color-dark: #ffffff;
}

body.light-mode {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
}

body.dark-mode {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
}

.theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}